<h1>TESDISKUSI</h1>


{% for post in posts %}
<h1><a href="{{ post.get_url }}">{{ post.title }}</a></h1>
<h1>by {{ post.user.fullname|title }}</h1>
<h1>{{ post.content }}</h1>
{{post.last_reply.user.fullname|title}}
{{post.last_reply.date|date}}
{% endfor %}

{% for comment in post.comments.all %}
{{comment.user.fullname}}
{{comment.content}}

{% for reply in comment.replies.all %}
{{reply.user.fullname}}
{{reply.content}}
{% endfor %}
{% endfor %}

{{form.as_table}} <!-- or {{form|crispy}}-->

id=comment{{comment.id}}


