<h1>TESDISKUSI</h1>


{% for post in posts %}
<h1><a href="{{ post.get_url }}">{{ post.title }}</a></h1>
<h1>by {{ post.user.fullname|title }}</h1>
<h1>{{ post.content }}</h1>
{{post.last_reply.user.fullname|title}}
{{post.last_reply.date|date}}
{% endfor %}

{% for comment in post.comments.all %}
{{comment.user.fullname}}
{{comment.content}}

{% for reply in comment.replies.all %}
{{reply.user.fullname}}
{{reply.content}}
{% endfor %}
{% endfor %}

{{form.as_table}} <!-- or {{form|crispy}}-->

id=comment{{comment.id}}

from django.db import models
from django.urls import reverse
from main.models import Book
from django.utils.text import slugify
from django.contrib.auth.models import User
from django.shortcuts import reverse

# Create your models here.

def get_default_post():
    return Post.objects.get_or_create(content="test")[0]

def get_default_book():
    return Book.objects.get_or_create(title="test")[0]

def get_default_comment():
    return Comment.objects.get_or_create(content="test")[0]
    
class Post(models.Model):
    Book = models.ForeignKey(Book, on_delete=models.CASCADE)
    title = models.CharField(max_length=300)
    # slug = models.SlugField(max_length=300, unique=True, blank=True)
    user = models.ForeignKey(User, on_delete=models.CASCADE)
    content = models.TextField()
    date = models.DateTimeField(auto_now_add=True)
    # approved boolean
    # comment = models.ManyToManyField(Comment, blank=True)

    # def save(self, *args, **kwargs):
    #     if not self.slug:
    #         self.slug = slugify(self.title)
    #     super(Post, self).save(*args, **kwargs)

    # def __str__(self):
    #     return self.title
    
    # def get_url(self):
    #     return reverse("diskusi", kwargs={
    #         "slug": self.slug
    #     })
    
class Comment(models.Model):
    user = models.ForeignKey(User, on_delete=models.CASCADE)
    content = models.TextField()
    date = models.DateTimeField(auto_now_add=True)
    # replies = models.ManyToManyField(Reply, blank=True)
    post = models.ForeignKey(Post, on_delete=models.CASCADE)

    # def __str__(self):
    #     return self.content[:100]
    
class Reply(models.Model):
    user = models.ForeignKey(User, on_delete=models.CASCADE)
    content = models.TextField()
    date = models.DateTimeField(auto_now_add=True)
    comment = models.ForeignKey(Comment, on_delete=models.CASCADE)

    # def __str__(self):
    #     return self.content[:100]

    from django.http import HttpResponse, HttpResponseNotFound
from django.shortcuts import redirect, render, get_object_or_404
from main.views import Book
from .models import Comment, Post, Reply
from .forms import PostForm
from django.contrib.auth.decorators import login_required
from django.views.decorators.csrf import csrf_exempt

def show_discussion(request, book_id):
    book = get_object_or_404(Book, id=book_id)
    posts = Post.objects.filter(book=book)

    context = {
        'posts': posts,
        'book': book,
        'name': request.user.username,
    }

    return render(request, "thread.html", context)

def show_post(request, post_id):
    post = get_object_or_404(Post, pk=post_id)

    if "comment-form" in request.POST: # comment-form is name of html element
        comment = request.POST.get("comment") # name="comment" as html attribute
        new_comment, created = Comment.objects.get_or_create(user=request.user, content=comment, post=post)
        post.comments.add(new_comment.id)
    if "reply-form" in request.POST: # reply-form is name of html element
        reply = request.POST.get("reply") # name="reply" as html attribute
        comment_id = request.POST.get("comment-id") # ??????
        comment_obj = Comment.objects.get(id=comment_id)
        new_reply, created = Reply.objects.get_or_create(user=request.user, content=reply, comment=comment_obj)
        comment_obj.replies.add(new_reply.id)

    # if request.method == "POST":
    #     form = UserCreationForm(request.POST)
    #     if form.is_valid():
    #         form.save()
    #         messages.success(request, 'Your account has been successfully created!')
    #         return redirect('main:login')
    context = {
        # 'form':form
        'post': post,
    }
    return render(request, 'post.html', context)

@login_required(login_url='main:login')
@csrf_exempt
def create_post(request, book_id):
    form = PostForm(request.POST or None)
    if request.method == "POST" and form.is_valid():
        title = request.Post.get("title")
        content = request.Post.get("content")
        user = request.user
        book = Book.objects.get(id=book_id)
        new_post = Post(book=book, title=title, user=user, content=content)
        new_post.save()
        return HttpResponse(b"CREATED", status=201)
        # new_post = form.save(commit=False)
        # new_post.user = request.user
        # new_post.book = Book.objects.get(id=book_id)
        # new_post.save()
        # return redirect("diskusi")

    return HttpResponseNotFound()

@property
def last_reply(self):
    return self.comments.latest("date")


