body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #E1F4FF, #CDEFFF);
}

.product-page {
    padding-top: 100px;
    width: 90%;
    height: 100vh;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.breadcrumb {
    color: #666;
    margin-bottom: 20px;
}

.product-card {
    max-width: 800px;
    max-height: 800px;
}

.product-image {
    width: 800px;
    height: 800px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.product-details {
    width: 50%; /* Anda bisa menyesuaikan ini */
    margin-right: 100px;
}

.product-meta {
    color: #999;
    margin-bottom: 10px;
}

.product-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.product-button.info {
    background-color: lightgray;
}

.product-description p, .product-description ul {
    margin-bottom: 10px;
}

td .details-row {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0 auto;
    width: 100%;
}