.history-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.history-item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding: 10px;
    align-items: center;
}

.history-content {
    display: flex;
    gap: 10px;
}

.query {
    font-weight: 500;
    color: #333;
}

.date {
    color: #777;
}

.form-history {
    display: flex;
    gap: 10px;
}

.field-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-update, .btn-delete {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-update {
    background-color: #007bff;
    color: white;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}