@font-face {
    font-family: 'AvenirNext';
    src: url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
         url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
         url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype'),
         url('../fonts/AvenirNextLTPro-Bold.eot') format('eot'),
         url('../fonts/AvenirNextLTPro-Bold.svg') format('svg');
}
  
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #E1F4FF, #CDEFFF);
}

.tagline {
    font-size: 6em;
    max-width: 80%;
    color: #0A74DA;
    font-weight: bold;
    font-family: 'AvenirNext', sans-serif;
    margin-bottom: 30px;
}

#rating-btn {
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #0A74DA;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#card-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 120px;
    align-items: stretch;
    justify-content: center;
}

#card-container a {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 300px;
    border-radius: 15px;
    margin: 40px;
    padding: 40px 20px;
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1);
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    -webkit-transition: .5s;
    transition: .5s;
    background: #eee;

}
.card:hover{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
} 
.card::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    z-index: 1;
    -webkit-transform: skewY(-5deg) scale(1.5);
            transform: skewY(-5deg) scale(1.5);
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 110px;
    align-items: center;
}

.button-add {
    padding-left: 20px;
}

.button-jns {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #f9f9f9;
    text-decoration: none;
    color: #333;
}

.button-jns:hover {
    background-color: #e0e0e0;
}

.button-active {
    background-color: #ffffff;
    border-bottom: 4px solid #4CAF50;
}