{% include 'header.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
</head>
<body>
    <div id="card-container">
        {% for book in books %}
        <div class="card">
            <img src="{% static book.book.image %}" alt="{{ book.book.title }} Cover">
            <div class="book-title">
                <h2>{{ book.book.display_title }}</h2>
            </div>
            <p>Penulis: {{ book.book.authors }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}