{% include 'header.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
</head>
<body>
    <div id="card-container">
        {% for book in books %}
        <div class="card">
            <a href="{% url 'bookDetails:show_details' id=book.id %}">
                <img src="{{ book.book.image }}" alt="{{ book.book.title }} Cover"> 
            </a>
            <div class="title">
                <h2>{{ book.book.display_title }}</h2>
                <p>Penulis: {{ book.book.authors }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}
