{% extends 'base.html' %}
{% load static %}
{% block title %}ReadMe - Rating Book{% endblock title %}
{% block meta %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
{% endblock meta %}

{% block content %}
<div class="container">
    <section id="rating">
        <div class="container pt-5">
            <div class="row">
                <div class="text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-4">Add your review!</h2>
                    <p class="text-muted">Your review will help other people to choose the right book. So, please, be honest and objective 😊 </p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div>
                        <form class="py-3 py-xl-4" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <select class="shadow form-control selectpicker" required name="book" id="book" data-live-search="true" title="Choose a book">
                                    {% for book in books %}
                                    <option id="opt-{{book.id}}" data-tokens="{{ book.title }} {{ book.authors }}" value="{{ book.id }}">{{ book.title }} by {{ book.authors }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <select class="shadow form-control selectpicker" required name="rating" id="rating" title="Choose a rating">
                                    <option value="1">⭐</option>
                                    <option value="2">⭐⭐</option>
                                    <option value="3">⭐⭐⭐</option>
                                    <option value="4">⭐⭐⭐⭐</option>
                                    <option value="5">⭐⭐⭐⭐⭐</option>
                                </select>
                            </div>
                            <div class="mb-3"><textarea id="message" class="shadow form-control" name="message" rows="6" required placeholder="Message"></textarea></div>
                            <div><button class="btn btn-primary shadow d-block w-100" type="submit" id="submit">Add Review</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-5" id="reviews">
        <div class="container py-2 mt-2">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">What people say about this book</h2>
                    <p class="text-muted">Read the reviews of people who have already read this book.</p>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 d-sm-flex justify-content-sm-center" id="reviews-list">
            </div>
        </div>
    </section>
</div>

<script>
    // Variable to store the user id
    {% if user.is_authenticated %}
        let userId = {{ user.id }};
    {% else %}
        let userId = null;
    {% endif %}

    // Get the book id from the URL and set it as the default value of the book select
    const urlParams = new URLSearchParams(window.location.search);
    const bookId = urlParams.get('book');
    if (bookId) {
        document.getElementById('book').value = bookId;
        let title = document.getElementById(`opt-${bookId}`).innerHTML;
        // wait for the select to be initialized
        setTimeout(() => {
            // set the title of the book selector
            const bookSelector = document.querySelector("#rating > div > div.row.d-flex.justify-content-center > div > div > form > div:nth-child(2) > div > button")
            bookSelector.setAttribute("title", title);
            bookSelector.setAttribute("bs-placeholder", title);
            const bookSelectorTitle = document.querySelector("#rating > div > div.row.d-flex.justify-content-center > div > div > form > div:nth-child(2) > div > button > div > div > div")
            bookSelectorTitle.innerHTML = title;
        }, 100);
        refreshReviews();
    }

    // Get reviews by book id
    async function getReviews(id) {
        return fetch(`/rating-book/reviews/${id}`)
            .then(response => response.json());
    }

    // Refresh reviews list
    async function refreshReviews() {
        document.getElementById('reviews-list').innerHTML = '';
        document.getElementById('submit').disabled = false;
        document.getElementById('submit').innerHTML = 'Add Review';
        const reviews = await getReviews(document.getElementById('book').value);
        let html = '';
        reviews.forEach((review) => {
            html += `
            <div class="col mb-4">
                <div class="d-flex flex-column align-items-center align-items-sm-start">
                    <p class="bg-body-tertiary border rounded border-0 p-4">${review.message}</p>
                    <div class="d-flex">
                        <div>`
            if (review.user == userId) {
                html += `
                            <a href="/rating-book/reviews/${review.id}/update" class="btn btn-primary btn-sm">Update</a>
                            <a href="/rating-book/reviews/${review.id}/delete" class="btn btn-danger btn-sm">Delete</a>
                            `;
                document.getElementById('submit').disabled = true;
                document.getElementById('submit').innerHTML = 'You have already reviewed this book';
            };
            html += `
                            <p class="fw-bold text-primary mb-0">${review.username}</p>
                            <p class="text-muted mb-0">${'⭐'.repeat(review.rating)}</p>
                        </div>
                    </div>
                </div>
            </div>
            `;
        });
        document.getElementById('reviews-list').innerHTML = html;
    }

    // Add event listener to the book select
    document.getElementById('book').addEventListener('change', refreshReviews);

    // Add event listener to the form
    document.querySelector('form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const response = fetch(`/rating-book/reviews/create/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: new FormData(event.target)
        }).then(() => {
            refreshReviews();
            document.getElementById('rating').value = '';
            document.getElementById('message').value = '';
        });
    });
</script>
{% endblock %}