<nav class="main-header">
    <a href="{% url 'main:show_main' %}" class="logo">
        <div >ReadMe</div>
    </a>
    <div class="main-nav">
        {% if user.is_authenticated %}
            <a href="{% url 'main:logout' %}" class="logout-btn">Logout</a>
            <a href="{% url 'listBook:show_list' %}">Book List</a>
            <a href="{% url 'wishlistBook:show_wishlist' %}">Saved</a>
            <a href="{% url 'history:history' %}">History</a>
        {% endif %}
        {% if not user.is_authenticated %}
            <a href="{% url 'listBook:show_list' %}">Book List</a>
            <a href="{% url 'main:login' %}">Saved</a>
            <a href="{% url 'main:login' %}">History</a>
            <a href="{% url 'main:register' %}" class="signup-btn">Sign up</a>
            <a href="{% url 'main:login' %}" class="login-btn" style="color: #0A74DA;">Login</a>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <a href="#">
            <div id="profile">{{ name }}</div>
        </a>
    {% endif %}
</nav>