@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
       url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
       url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype'),
       url('../fonts/AvenirNextLTPro-Bold.eot') format('eot'),
       url('../fonts/AvenirNextLTPro-Bold.svg') format('svg');
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(120deg, #E1F4FF, #CDEFFF);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.5s;
}

.container {
  max-width: 90%; /* adjust as needed */
  box-sizing: border-box;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.tagline {
  font-size: 6em;
  max-width: 80%;
  color: #0A74DA;
  font-weight: bold;
  font-family: 'AvenirNext', sans-serif;
  margin-bottom: 30px;
}

.search-bar {
  margin-top: 20px;
  position: relative;
}

#searchInput {
  width: 60vw;
  max-width: 600px;
  padding: 15px;
  font-size: 1.2em;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border 0.3s, box-shadow 0.3s;
}

#searchInput:focus {
  border: 1px solid #0A74DA;
  box-shadow: 0 2px 6px rgba(10, 116, 218, 0.2);
}

#searchBtn {
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #0A74DA;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchBtn:hover {
  background-color: #0057a3;
}
