{% include 'header.html' %}

{% load static %}

    <head>
        <link rel="stylesheet" href="{% static 'css/details_style.css' %}">
    </head>

    <body>
        <div class="table-page">
            <table >
                <tr class="details-row">
                    <td class="product-card">
                        <div class="product-image">
                          <img src="{{ book.image }}" alt="{{ book.title }}">
                        </div>
                    </td>
                    <td class="product-details">
                        <h1>{{ book.title }}</h1>
                        <div class="product-meta">
                            Penulis: {{ book.authors }}
                        </div>
                        <p>ISBN: {{ book.isbn }}</p>
                        <button id="wishlist-button" class="product-button">Wishlist</button>
                        <button class="product-button">Diskusi Chat</button>
                        <div class="product-description">
                            <h4 style="padding-top: 15px;">Deskripsi:</h4>
                            <p>{{ book.description }}</p>
                        </div>
                        {% include 'reviews.html' %}
                    </td>
                </tr>
            </table>
        </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const wishlistButton = document.getElementById("wishlist-button");

            wishlistButton.addEventListener("click", function() {
                if (wishlistButton.classList.contains("product-button-active")) {
                    wishlistButton.classList.remove("product-button-active");
                } else {
                    wishlistButton.classList.add("product-button-active");
                }
            });
        });

    </script>
        
    </body>