{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadMe - The Future of Book Search</title>
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="logo">ReadMe</div>
        <nav class="main-nav">
            <a href="#">Book List</a>
            <a href="#">Saved</a>
            <a href="#" class="signup-btn">Sign up</a>
        </nav>
    </header>
    
    <div class="background-animation"></div>
    <div class="container">
        <h1 class="tagline">AI-Powered Book Discovery.</h1>
        <div class="search-bar">
            <input type="text" placeholder="Contoh: saya anak smp, saya perlu buku mtk" id="searchInput">
            <button id="searchBtn">Search</button>
        </div>

        <div id="searchResults" class="search-results"></div>
    </div>
    <script src="{% static 'js/main_script.js' %}"></script>
    <script>
    let placeholders = ["saya lagi sedih, kasih saya rekomendasi buku", "saya anak SMA, saya mau belajar ngoding python", "aku mau buku tentang spy dan misteri!"];
    let count = 0;
    let index = 0;
    let currentText = '';
    let letter = '';
    let isDeleting = false;

    (function type(){    
        if(count === placeholders.length){
            count = 0;
        }
        currentText = placeholders[count];
        if (!isDeleting) {
            letter = currentText.slice(0, ++index);
            if(letter.length === currentText.length){
                isDeleting = true;
                setTimeout(type, 1000); //delay sebelum delete
            } else {
                setTimeout(type, 50); //speed typing                         
            }
        } else {
            letter = currentText.slice(0, --index);
            if(letter.length === 0) {
                isDeleting = false;
                count++;
            }
            setTimeout(type, 50); //speed delete
        }
        document.querySelector('#searchInput').placeholder = letter;
    }());

    document.getElementById("searchBtn").addEventListener("click", function() {
  let query = document.getElementById("searchInput").value;
  if(query) {
      // Fungsi untuk membuat permintaan ke server akan didefinisikan di main_script.js
      searchBooks(query);
  }
});
    </script>
</body>
</html>