{% include 'header.html' %}

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/list_book_style.css' %}">
</head>
<body>
    <section>
        <div class="container-fluid">
            <div class="button-group">
                <div class="center-buttons">
                    <a href="{% url 'listBook:show_list' %}" class="button-jns button-active">
                        All Book
                    </a>
                    <a href="{% url 'listBook:show_myBook' %}" class="button-jns">
                        My Book
                    </a>
                </div>
            </div>
            <div class="button-filter-cont">
                <div class="center-buttons">
                    <form method="get" action="{% url 'listBook:show_list_title' %}" id="filterForm" class="mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" name="title" placeholder="Search by Title">
                            <div class="dropdown">
                                <button type="submit" class="btn btn-primary">Filter</button>
                                <div class="dropdown-content">
                                    <a href="{% url 'listBook:show_list' %}">All</a>
                                    <a href="{% url 'listBook:show_list_filter' genre='action' %}">Action</a>
                                    <a href="{% url 'listBook:show_list_filter' genre='romance' %}">Romance</a>
                                    <a href="{% url 'listBook:show_list_filter' genre='science' %}">Science</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="card-container">
                {% for book in books %}
                    <div class="card text-center">
                        <div style="position: relative; z-index: 2;">
                            <a href="{% url 'bookDetails:show_details' id=book.id %}" style="display: block; position: relative; z-index: 1;">
                                <img src="{{ book.image }}" alt="{{ book.title }} Cover" style="z-index: 0;"> 
                            </a>
                        </div>
                        <div class="book-title">
                            <h2>{{ book.display_title }}</h2>
                        </div>
                        <p>Penulis: {{ book.authors }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

</body>    
